<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create review about the order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<form th:action="@{/pethost/createPet}" th:object="${form}" method="POST">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Review</th>
                <th> Keeper rating</th>
                <th> Pet rating</th>
            </tr>
            </thead>
            <tbody>
                <td><textarea th:field="*{review}" /></td>
                <td>
                    <select th:field="*{keeperRating}" name="Keeper rating">
                        <option value=""> --</option>
                        <option th:each="n : ${#numbers.sequence(1,10)}" th:value="${n}" th:text="${n}"/>
                    </select>
                </td>
                <td>
                    <select th:field="*{petRating}" name="Pet rating">
                        <option value=""> --</option>
                        <option th:each="n : ${#numbers.sequence(1,10)}" th:value="${n}" th:text="${n}"/>
                    </select>
                </td>
            </tbody>
        </table>
    </fieldset>
</form>

</body>
</html>