<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My pets</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h2>My pets</h2>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Name</th>
        <th> Birthdate</th>
        <th> Category</th>
        <th> Description</th>
        <th> Avatar Url</th>
        <th> Created date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${pets.empty}">
        <td colspan="2"> No Pets </td>
    </tr>
    <tr th:each="pet : ${pets}">
        <td><span th:text="${pet.id}"> Id </span></td>
        <td><span th:text="${pet.name}"> Name </span></td>
        <td><span th:text="${pet.birthdate}"> Birthdate </span></td>
        <td><span th:text="${pet.category.getCategory()}"> Category </span></td>
        <td><span th:text="${pet.description}"> Description </span></td>
        <td><span th:text="${pet.avatarUrl}"> Avatar url </span></td>
        <td><span th:text="${pet.createdDate}"> Created date </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>