<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Successfully registered</title>
    <style>
        span {color: blue;}
    </style>
</head>

<body>
<form action="/pethost/registerSuccessful" th:object="${appUserForm}" method="POST">
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>You have successfully registered!</h2>

<div th:if="${appUserForm != null}">
    <ul>
        <li>Email: <span th:utext="${appUserForm.email}">..</span></li>
        <li>Name: <span th:utext="${appUserForm.firstName}">..</span></li>
        <li>Surname: <span th:utext="${appUserForm.lastName}">..</span></li>
    </ul>
</div>
</form>

</body>
</html>