<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>Registration</h1>

<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Registration Failed!!!<br/>
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>

<h3>Enter user name and password:</h3>
<form method="POST" action="/pethost/signup" modelAttribute="user">
    <!--<form action="/" th:object="${user}" method="POST" enctype="utf8">-->
    <table>
        <tr>
            <td>User email:</td>
            <td><input type='text' name='email' value=''></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type='password' name='password'/></td>
        </tr>

        <tr>
            <td>Name:</td>
            <td><input type='text' name='name'/></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type='text' name='surname'/></td>
        </tr>
        <tr>
            <td>Gender:</td>
            <td><input type='text' name='gender'/></td>
        </tr>
        <tr>
            <td>Birthdate:</td>
            <td><input type='text' name='birthdate'/></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit"/></td>
        </tr>
    </table>
</form>

</body>

</html>