<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>


<h3>Welcome : <span th:utext="${currentUser.name} + ' ' + ${currentUser.surname}"></span></h3>

<br/><br/>
<h4><b>Personal info</b></h4>
<p th:utext="'Gender: ' +  ${currentUser.getGender().name()}"/>
<p th:utext="'Email: ' +  ${currentUser.getEmail()}"/>
<p th:utext="'City: ' +  ${currentUser.getCity().getName()}"/>
<!--<p th:utext="'Address: ' +  ${currentUser.getAddress()}"/>-->
<br/><br/>

<div>
    <a th:href="@{/pethost/mypets}">Show my pets</a>
</div>
<div>
    <a th:href="@{/pethost/createPet}">Create pet</a>
</div>
<div>
    <a th:href="@{/pethost/createOrder}">Create order</a>
</div>

</body>

</html>