<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .maindiv {
            width: 80%;
            margin-left: 10%;
        }
    </style>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2 class="maindiv"><span th:utext="${message}"></span></h2>
<!--<p th:utext="${content}"></p>-->
<p class="maindiv"><br/>
    Рады приветствовать всех неравнодушных и души нечаящих в домашних животных!<br/><br/>
    Данный проект посвящён нашим добрым, верным, пушистым и маленьким домашним друзьям.<br/><br/>
    Наши пушистые товарищи нуждаются в ежедневной заботе и внимании. К нашему счастью и к сожалению для наших питомцев,
    наша жизнь полна путешествий, командировок, поездок к родным и друзьям, но возможности взять с собой наших верных
    домашних друзей по тем или иным причинам не всегда представляется возможным. Длительное пребывание в одиночестве,
    без еды и питья угнетающе действует на человека, не говоря уже о самих животных. Это может неблагоприятно сказаться
    на здоровье Вашего друга. Именно для того, чтобы Ваш питомец не остался без внимания, был сыт и <s>одет</s> доволен,
    для того чтобы Ваша поездка доставляла Вам минимум беспокойств о состоянии Вашего друга и он максимально комфортно
    себя чувствовал в Ваше отсутствие, мы создали этот проект.<br/><br/>
    Основываясь на <b>рейтинговой системе</b>, на <b>отзывах</b> о том или ином пользователе, Вы можете проще принимать
    решение, можно ли доверить данному человеку своего пушистика. Если же Вы желаете принять участие в присмотре за
    животным во время отсутствия его хозяина, заполните свою анкету, выберите животных, которых Вы готовы присмотреть и
    добавьте анкету в соответствующий раздел.<br/><br/>
    Вы можете сделать этот сервис лучше, если оставите отзыв о том, как и кто позаботился о Вашем питомце в Ваше
    отсутствие или выразить своё мнение о питомце, к чему нужно готовиться следующему возможному кандидату на временного
    хозяина
    на случай, если его хозяину снова придётся куда-то уехать и оставить в надёжные руки своего верного
    товарища.<br/><br/>
    Есть некоторое количество <b>гостиниц для животных</b>, но возможно что, не все они могут принять именно Вашего
    питомца или Ваш друг будет получать очень мало внимания, а также такие гостиницы могут сильно ударить по карману. Но
    во всём есть свои плюсы, поэтому мы добавили раздел гостиниц для питомцев и всю информацию о них.<br/><br/>
    Помните, у нас есть работа, учёба, хобби, путешествия, любимый человек, родители, друзья и много-много другого
    прекрасного в этом мире, у вашего питомца же есть только Вы.<br/><br/>
    Свяжитесь с нами, если у Вас возникли вопросы, заметили ошибки или у Вас есть предложения по улучшению сервиса.
    С наилучшими пожеланиями, администрация сайта.</p>
</body>
</html>